site_name: InterMap's Docs
repo_url: https://github.com/Delta-Research-Team/intermap
repo_name: InterMap's GitHub Repository
# Theme
theme:
  name: material
  icon:
    logo: material/fingerprint

  font:
    text: Roboto
    code: Roboto Mono
  features:
    - toc.follow
    - toc.integrate
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.instant.progress
    - navigation.top
    - header.autohide

  palette:
    - scheme: default
      primary: indigo
      accent: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: red
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

# Markdown extensions
markdown_extensions:
  - attr_list
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption


plugins:
  - offline

extra:
  generator: false

nav:
  - Home: index.md
  - Interactions: interactions.md
  - Installation: installation.md
  - Usage: basic-usage.md
  - InterVis (Visualizations): intervis.md
  - Citing: citing.md
#  - How it works: how-it-works.md
