AmberUtils==21.0
asttokens==2.0.5
biopython==1.85
bitarray==3.0.0
Bottleneck==1.4.2
Brotli==1.0.9
cached-property==1.5.2
certifi==2025.1.31
cftime==1.6.4
chardet==4.0.0
contourpy==1.3.1
coverage==7.6.9
cycler==0.11.0
decorator==5.1.1
edgembar==3.0
et_xmlfile==2.0.0
executing==0.8.3
fasteners==0.16.3
fonttools==4.55.3
freetype-py==2.3.0
future==1.0.0
greenlet==3.1.1
GridDataFormats==1.0.2
gsd==3.4.2
h5py==3.12.1
iniconfig==1.1.1
intermap==0.0.5
ipython==8.30.0
jedi==0.19.2
joblib==1.4.2
kiwisolver==1.4.8
llvmlite==0.44.0
matplotlib==3.10.0
matplotlib-inline==0.1.6
mda_xdrlib==0.2.0
mdahole2==0.0.0
MDAnalysis==2.8.0
mdtraj==1.10.3
MMPBSA.py==16.0
mmtf-python==1.1.3
mrcfile==1.5.4
msgpack==1.0.3
ndfes==3.0
netCDF4==1.7.2
networkx==3.4.2
numba==0.61.0
numba-kdtree==0.4.0
numexpr==2.10.1
numpy==2.1.3
numpy-indexed==0.3.7
openpyxl==3.1.5
packaging==24.2
packmol_memgen==2024.3.27
pandas==2.2.3
ParmEd==0+unknown
parso==0.8.4
pathsimanalysis==0.0.0
pdb4amber==22.0
pexpect==4.8.0
pillow==11.1.0
pip==25.0
pluggy==1.5.0
ply==3.11
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pycairo==1.27.0
pyedr==0.8.0
Pygments==2.15.1
pyMSMT==22.0
pyparsing==3.2.0
PyQt5==5.15.10
PyQt5_sip==12.13.0
pytest==8.3.4
pytest-cov==6.0.0
pytest-randomly==3.16.0
python-dateutil==2.9.0.post0
pytng==0.0.0
pytraj==2.0.6
pytz==2024.1
rdkit==2024.9.5
reportlab==4.3.0
rgpack==0.0.3
rlPyCairo==0.2.0
sander==22.0
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
setuptools==72.1.0
sip==6.7.12
six==1.16.0
SQLAlchemy==2.0.37
stack-data==0.2.0
tables==3.10.2
threadpoolctl==3.5.0
tidynamics==1.1.2
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2023.3
unicodedata2==15.1.0
waterdynamics==0.0.0
wcwidth==0.2.5
wheel==0.45.1
